Source: ros-jazzy-dual-laser-merger
Section: misc
Priority: optional
Maintainer: pradyum <pradyum.30@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libpcl-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-auto, ros-jazzy-ament-copyright <!nocheck>, ros-jazzy-ament-cpplint <!nocheck>, ros-jazzy-ament-flake8 <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-ament-pep257 <!nocheck>, ros-jazzy-ament-xmllint <!nocheck>, ros-jazzy-geometry-msgs, ros-jazzy-laser-geometry, ros-jazzy-message-filters, ros-jazzy-pcl-conversions, ros-jazzy-pcl-ros, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-tf2, ros-jazzy-tf2-ros, ros-jazzy-tf2-sensor-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-dual-laser-merger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-dev, ros-jazzy-geometry-msgs, ros-jazzy-laser-geometry, ros-jazzy-message-filters, ros-jazzy-pcl-conversions, ros-jazzy-pcl-ros, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-tf2, ros-jazzy-tf2-ros, ros-jazzy-tf2-sensor-msgs, ros-jazzy-ros-workspace
Description: merge dual lidar's scans.
